crewai 
unstructured 
pyowm 
tools 
sec-api 
tiktoken
faiss-cpu 
python-dotenv
langchain-community 
langchain-core 
langchain-groq
streamlit
cryptography
plotly
requests
langchain-huggingface
huggingface_hub
deepgram-sdk
